[Unit]
Description=Start x11vnc
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -no6 -noipv6 -allow 10. -find -auth guess -forever -loop -noxdamage -repeat -rfbauth /etc/x11vnc.passwd -rfbport 5900 -shared
User=vdi
Group=vdi

[Install]
WantedBy=multi-user.target
